<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sweet</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/plugin/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/plugin/layuiadmin/style/admin.css" media="all">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <!-- _header -->
        <% include("/common/_header.html"){} %>

        <!-- _left -->
        <% include("/common/_left.html"){} %>

        <!-- _pagetabs -->
        <% include("/common/_pagetabs.html"){} %>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="/admin/console" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="/plugin/layuiadmin/layui/layui.js"></script>
<script src="/common/js/common.js"></script>

<script type="text/javascript">
    var Sweet = {
        ctxPath: "",
        addCtx: function (ctx) {
            if (this.ctxPath === "") {
                this.ctxPath = ctx;
            }
        }
    };
    Sweet.addCtx("${ctxPath}");
</script>

<script>
    layui.config({
        base: '/plugin/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'common'], function(){//需要显式use common模块
        var data = {
            "code": 0,
            "msg": "",
            "data": [{
                "title": "一级",
                "icon": "layui-icon-auz",
                "url": "//www.layui.com/admin/#get"
            },{
                "title": "二级默认展开",
                "spread": true,
                "icon": "layui-icon-home",
                "list": [{
                    "title": "默认展开",
                    "spread": true,
                    "url": "home/console.html"
                }, {
                    "title": "二级",
                    "url": "home/homepage1.html"
                }]
            },{
                "title": "三级",
                "icon": "layui-icon-home",
                "list": [{
                    "title": "三级",
                    "list":[{
                        "title":"三级菜单",
                        "url":"http://www.baidu.com"
                    },{
                        "title":"三级菜单",
                        "url":"home/homepage2.html"
                    }]
                }, {
                    "title": "不是三级",
                    "url": "home/homepage2.html"
                }]
            }]
        }
        layui.admin.events.refreshLeftMenu(data);//如果在子页面想要刷新左侧菜单则使用top.layui.admin.events.refreshLeftMenu（前面加top.）
    });
</script>


<script type="text/html" id="leftMenuTpl">
    {{#
    var dataName = layui.setter.response.dataName ? layui.setter.response.dataName : 'data';
    layui.each(d[dataName], function(index,item){
    }}
    <li data-name="{{ item.name || '' }}" class="layui-nav-item {{ item.spread ? typeof item.list === 'object' && item.list.length > 0 ? 'layui-nav-itemed' : 'layui-this': '' }}" myDir = "1">
        {{# if(item.url){ }}
        <a lay-href="{{ item.url }}" lay-tips="{{ item.title }}" lay-direction="2">
            {{# }else{ }}
            <a href="javascript:;" lay-tips="{{ item.title }}" lay-direction="2">
                {{# } }}
                {{# if(item.icon){ }}
                <i class="layui-icon {{ item.icon }}"></i>
                {{# } }}
                <cite>{{ item.title }}</cite>
            </a>
            {{#
            var itemListFun = function(itemList, myDir){
            myDir = myDir || 2;
            if(typeof itemList === 'object' && itemList.length > 0){ }}
            <dl class="layui-nav-child">
                {{# layui.each(itemList, function(index2, item2){ }}
                <dd data-name="{{ item2.name || '' }}" class="{{ item2.spread ? (typeof item2.list === 'object' && item2.list.length > 0 ? 'layui-nav-itemed' : 'layui-this' ) : ''}}" myDir="{{ myDir }}">
                    {{# if(item2.icon){ }}
                    <i class="layui-icon {{ item.icon }}"></i>
                    {{# } }}
                    {{# if(item2.url){ }}
                    <a lay-href="{{ item2.url }}">{{ item2.title }}</a>
                    {{# }else{ }}
                    <a href="javascript:;">{{ item2.title }}</a>
                    {{# } }}
                    {{# itemListFun(item2.list,myDir+1);}}
                </dd>
                {{# }) }}
            </dl>
            {{#  } }}
            {{#  };
            itemListFun(item.list); }}
    </li>
    {{# }) }}
</script>
</body>
</html>


